@model mvc_dotNetFramework_c_employee.Models.Admin

@{
    Layout = null;
}
<h2>Admin View</h2>
@using (Html.BeginForm("AddOrEdit", "Admin", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    
}