@model mvc_dotNetFramework_c_employee.Models.Admin

@{
    Layout = null;
}
@using (Html.BeginForm("Add", "Admin", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.HiddenFor(model => model.adminid)
    <div class="form-group">
        @Html.LabelFor(model => model.email, new { @class = "control-label" })
        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
    </div>
}